@use '../settings/colors' as color;
@use '../settings/fonts' as font;
@use '../settings/sizes' as size;

@mixin scrollbar {
   overflow: auto;

  &::-webkit-scrollbar {
     width: 8px;
     height: 8px;

     &:vertical {
        background-image: linear-gradient(90deg, transparent,  transparent 2px, color.$background 2.01px, color.$background 100% );
     }

     &:horizontal {
        background-image: linear-gradient(180deg, transparent,  transparent 2px, color.$background 2.01px, color.$background 100% );
     }
  }



  &::-webkit-scrollbar-thumb {
    --thumb-color: #{color.$border};
     &:vertical {
       background-image: linear-gradient(90deg, transparent,  transparent 2px, var(--thumb-color) 2.01px, var(--thumb-color) calc(100% - 2.01px), transparent calc(100% - 2px), transparent);
     }

     &:horizontal {
       background-image: linear-gradient(180deg, transparent,  transparent 2px, var(--thumb-color) 2.01px, var(--thumb-color) calc(100% - 2.01px), transparent calc(100% - 2px), transparent);
     }

     &:hover {
      --thumb-color: #{color.$highlight-strong};
     }
  }

  &::-webkit-scrollbar-corner {
     background-color: color.$background;
  }
}

@mixin button {
   display: block;
   font-family: font.$primary;
   font-size: size.$font-secondary;
   padding: 8px 16px;
   background: transparent;
   border: none;
   color: color.$font;
   position: relative;
   cursor: pointer;
   z-index: 1;

   &::before {
      content: "";
      background-color: color.$accent-dark;
      display: block;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      top: 4px;
      left: 4px;
      position: absolute;
      z-index: -1;
      border-radius: 4px;
      box-shadow: 0 1px 4px -1px black;
      border: 1px solid color.$line-shadow;
   }

   &:hover::before {
      border-color: color.$highlight;
   }

   &:active::before {
      border-color: color.$border;
   }
}