$background: hsl(340, 80%, 6%);
$accent: hsl(340, 90%, 37%);
$accent-dark: rgba($accent, 0.2);
$line-shadow: hsl(340, 86%, 3%);
$font: hsl(0, 0%, 100%);
$border: rgba(white, 0.15);
$highlight: rgba(white, 0.05);
$cursor: hsl(50, 100%, 50%);